/*font-family: 'Roboto', sans-serif;
font-family: 'Baskervville', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Bebas Neue', cursive;*/

/*styling for navbar
*/
.main-nav {
    background: linear-gradient(to right, #131314, #080b13);
    color: #fff;
    margin-bottom: 2em;
    width: 100% !important;
}
.main-nav-list ul {
    list-style-type: none;
    margin-bottom: 1rem;
    ;
    padding: 0;
    overflow: hidden;
}
.main-nav-list li {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1rem;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
.main-nav-list-itemsx {
    margin-left: 6.2em;
}
.searchResults {
    text-align: center;
    margin-left: 4em;
    font-size: 20px;
    font-weight: bold;
    color: #e98b1f;
}
/*styling for cart*/
.cart {
    color: rgb(8, 0, 0);
    font-size: 16px;
    background-color: rgb(243, 150, 28);
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 16px;
    border: 3px solid rgb(209, 198, 198);
}

/*.cart-box {
    background-color: white; color: black; box-shadow: 0 0 0.5em inset rgba(0,0,0,0.8); overflow: hidden; transform: scaleY(0); transition: transform 0.3s;
}
.cart-box.open {
    transform: scaleY(1);
}*/

/*styling for wishlist*/
.Wishlist {
    color: rgb(8, 0, 0);
    font-size: 16px;
    background-color: rgb(243, 150, 28);
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 16px;
    border: 3px solid rgb(209, 198, 198);
}

/*styling for search label*/
.search {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
}


/*styling for searchbar*/
.searchbar {
    font-family: 'Baskervville', serif;
    text-align: center;
    margin-left: 4em;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .87);
    color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbar:focus {
    width: 450px;
}

/*styling for sort buttons, list */
.sortOptionsList {
    list-style-type: none;
    text-align: center;
    margin: 1em 3em 1em 3em;
    padding: 0;
    background-color: #080b13;
}

.sortOptionsList .sortOptionsListItem {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.sortOptionsBtn {
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    border-bottom: 2px dashed rgba(0, 0, 0, .87);
    border-radius: 14px;
    color: black;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}



/*styling for grid layout*/
.layoutTheme {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    max-width: 110em;
}

/*styling for products grid*/
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    grid-row-gap: 0.6rem;
    grid-column-gap: 0.6rem;
    align-self: start;
}

/*styling for product card*/
.productsCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 225px;
    height: auto;
    margin: 0.5em;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .87);
    position: relative;

}

.productCardImg {
    height: 120px;
    width: 100%;
}


.productCardList {
    padding: 1em;
}

.productsCard {
    display: block;
}

.productsCard:hover+.onhoverShow {
    display: block;
    color: red;
    font-size: 30px;
}

.ProductCardName {
    color: rgba(0, 0, 0, .87);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
}

.productCardList {
    color: rgba(0, 0, 0, .87);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 1rem;

}


.productsCard .productCardButton {
    border: none;
    outline: 0;
    padding: 0.4rem;
    color: rgb(250, 249, 249);
    background-color: rgba(0, 0, 0, .87);
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}


/*styling for brand inner html form js*/
.brand {
    color: #e98b1f;
    font-weight: bold;
    font-size: 19px;
}

/*styling for web banner*/
.webbanner {
    margin: 2rem;
}

.sidenav {
    background-color: rgb(0, 0, 0, .87);
    padding: 2em;
    margin: 1em 0 1em 0.3em;
    color: rgb(248, 255, 249);
    height: auto;
    font-family: 'Roboto Mono', monospace;
}

/*styling for modals - cart box and wishlist*/
.is-hidden {
    display: none;
}

.button-close {
    display: inline-block;
    width: 270px;
    height: 0px;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #080500;
    background-color: #ffffff
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    bottom: 245px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
}

.modal-content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
    padding: 20px 30px;
    width: auto;
    position: fixed;
    min-height: 300px;
    margin: 5% auto 0;
    background: rgb(255, 255, 255);
    z-index: -1;
    border: 1.5px solid olive;
}

.cart-heading {
    text-align: center;
    margin: 1em 0 1em 0;
    line-height: 28px;
    background-color: #080500;
    color: #fff;
}

/*styling for price inner html*/
.price {
    color: rgb(245, 122, 51);
    font-size: 22px;
    font-weight: bold;
}

/*styling for color boxes inner html*/
.color-div .color-box {
    display: inline-block;
}

.color-box {
    margin-right: 0.5em;
}

.colour-span {
    padding: 0 0.5em 0 0.5em;
    border: 1.5px solid rgb(66, 63, 17);
}

.checked {
    color: rgb(245, 122, 51);
}


/* css fro container to place heart button , out of stock , on sale banners on product card*/
.container {
    position: relative;
    text-align: center;
    color: white;
}

.heartBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    opacity: 0.7;
    color: rgb(63, 46, 46);
}

.onsale_banner {
    position: absolute;
    top: 3px;
    left: -20px;
    text-align: center;
    font-size: 16px;
    color: white;
    background: rgb(12, 12, 12);
    ;
    padding: 0.12em;
    transform: rotate(-90deg);
    margin-top: 1em;
    z-index: 1;
}

.outofstock {
    position: absolute;
    top: 22px;
    left: -40px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
    background: rgb(228, 10, 10);
    ;
    margin-top: 1em;
    transform: rotate(-90deg);
    z-index: 1;
    width: 6em;
    opacity: 0.7;
}

.heartBtn:hover {
    opacity: 1;
    color: rgb(216, 51, 51);
}


/*CSS for footer section , footer list items*/
.footersection {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 248, 248);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    width: 100%;
}


.footermenulist {
    font-family: 'Baskervville', serif;
    color: rgb(253, 253, 253);
    font-size: 20px;
    padding: 0.6em;

}

.footerarticle {
    background-color: rgb(0, 0, 0);
    padding: 0.8em 0 0.8em 0;
}




/* For Mobiles */
@media screen and (max-width:500px) {

    .main-nav-list li {
        display: inline;
        margin: 0;
        padding-bottom: 0.1rem;
        ;
    }

    .li a {
        display: inline;
        margin: 0;
        padding: 0;
    }

    .logo {
        margin-left: 32vw;
    }

    .layoutTheme {
        grid-template-columns: 1fr;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .productsCard {
        width: fit-content;
    }

    .sortmenu {
        width: 20%;
    }


    .webbanner {
        display: none;
    }

    .footersection {
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }

    .searchResults {
        font-size: 16px;
    }

    .sortOptionsList .sortOptionsListItem {
        display: block;
        padding: 5px;
        font-size: 20px;
    }

    .sortOptionsListItem {
        font-size: 100px;
    }

    .searchbar {
        margin: 1px;
    }

    .searchResults {
        margin: 0 1em 0 1em;
        font-size: small;

    }

    #find {
        text-align: center;
        width: 150px;
        margin-right: 3em;
    }

    #find:focus {
        width: 200px;
    }

    #filter {
        display: inline;
    }

    #filtermenu {
        font-size: small;
        margin: 0em 3em 0 3em;
    }

    .search {
        font-size: medium;
    }


    .sortOptionsBtn:hover {
        background-color: rgba(0, 0, 0, .87);
        color: white;
    }

    .sortOptionsBtn {
        font-size: small;
    }

    .sidenav {
        margin-left: 3em;
        margin-top: 2em;
    }
    .modal-content {
        bottom: 650px;
        top: 100px;
        left:20px;
        right:100px;
        overflow-y: auto;
        padding: 20px 30px;
        width: auto;
        min-height: 300px;
        margin: 5% auto 0;
    }

    .main-nav-list-itemsx {
        margin-left: 0;
    }

    .footersection {
        width: 100%;
    }
}


/* For Tablets */

@media screen and (max-width:927px) and (min-width:501px) {

    .main-nav-list-itemsx {
        margin-left: 0.3em;
    }

    .products {
        grid-template-columns: 1fr 1fr;
    }

    .productsCard {
        width: 250px;
    }

    .webbanner {
        height: max-content;
    }
    
    .modal-content {
        top: 250px;
       
    }
    .footersection {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;
    }




}


/* For Desktop */
@media screen and (max-width:1128px) and (min-width:928px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sortOptionsBtn:hover {
        font-family: 'Roboto Mono', monospace;
        background-color: rgba(0, 0, 0, .87);
        color: white;
        border: 2px solid rgb(226, 223, 223);
    }

    .main-nav-list-itemsx {
        margin-left: 2em;
    }

}